Create a new database in your local machine

In [1]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

Create a tabel

In [2]:
mycol = mydb["students_col"]

Insert Values in that table

In [3]:
mydict = { "name": "John", "family": "snow", "address": "Highway 37" }

x = mycol.insert_one(mydict)

Insert more values with changed schema

In [4]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

Insert multiple values

In [5]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('66ed7e4a45a600f27b008766'), ObjectId('66ed7e4a45a600f27b008767'), ObjectId('66ed7e4a45a600f27b008768'), ObjectId('66ed7e4a45a600f27b008769'), ObjectId('66ed7e4a45a600f27b00876a'), ObjectId('66ed7e4a45a600f27b00876b'), ObjectId('66ed7e4a45a600f27b00876c'), ObjectId('66ed7e4a45a600f27b00876d'), ObjectId('66ed7e4a45a600f27b00876e'), ObjectId('66ed7e4a45a600f27b00876f'), ObjectId('66ed7e4a45a600f27b008770'), ObjectId('66ed7e4a45a600f27b008771')]

Find a value

In [6]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('66ed7e4945a600f27b008764'), 'name': 'John', 'family': 'snow', 'address': 'Highway 37'}
{'_id': ObjectId('66ed7e4945a600f27b008765'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66ed7e4a45a600f27b008766'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66ed7e4a45a600f27b008767'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66ed7e4a45a600f27b008768'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66ed7e4a45a600f27b008769'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66ed7e4a45a600f27b00876a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66ed7e4a45a600f27b00876b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66ed7e4a45a600f27b00876c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66ed7e4a45a600f27b00876d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66ed7e4a45a600f27b00876e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66ed7e4a45a600f27b00876f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66ed7e4a45a600f27b008770'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66ed7e4a45a600f27b008771'), 'name': 'Viola', 'address': 'Sideway 1633'}